@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @include mat.button-overrides(
    (
      filled-container-color: rgb(0, 0, 0),
      filled-label-text-color: rgb(255, 255, 255),
      outlined-label-text-color: rgb(0, 0, 0),
      outlined-ripple-color: rgba(0, 0, 0, 0.12),
      outlined-hover-state-layer-opacity: 0,
      outlined-pressed-state-layer-opacity: 0,
      outlined-outline-color: rgb(0, 0, 0),
    )
  );
  @include mat.list-overrides((
    list-item-label-text-color: #DDD,
    list-item-supporting-text-color: #DDD,
    list-item-leading-icon-color: #FFF,
  ));
}